<h1 id="sponsor-oss">Sponsor OSS!</h1>

<p>You probably came to this page because one of our gems dropped an edge-feature and raised an exception.</p>

<p>This is annoying, and we know how you feel now.</p>

<p>These words come from an OSS author who’s been giving out free software, free support, free passion, time and money for a decade. OSS is a great thing, but those who benefit the most from it - <em>you</em> - often do not consider giving back anything but bug reports.</p>

<p>And this is not only annoying for us, but can ruin a career. Not every OSS author is backed by a global player company or drives racing cars over the weekend, just for fun.</p>

<p>We need to work like everyone else. We have dayjobs, family, friends, and all that other time-consuming stuff. We simply can’t spend our free time on a feature we don’t even use personally.</p>

<p>If you really need a feature, please pay for it and we will make your support public and will be friends forever.</p>

<p>not giving back is like using torrent without uploading - it kills the idea.</p>
